<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>

<main class="container">
  <section class="card fade-up">
    <header class="card-header">
      <h2>Cadastrar categoria</h2>
    </header>
    <div class="card-body">
      <form method="POST" action="/categories/save">
        <label for="title">Título</label>
        <input class="form-control" type="text" id="title" name="title" placeholder="Defina o título da categoria">
        <button class="btn">Cadastrar</button>
      </form>
    </div>
  </section>
</main>

<%- include ('../../partials/footer.ejs') %>
