 <nav class="navbar navbar-expand-sm navbar-light bg-primary">
        
        <a class="navbar-brand" href="/">
            <h5><img src="\img\TKE3.png">
            TKPress</h5>
        </a>

        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <div style="border-left:thin solid #000000">
                    <a class="nav-link" href="../../index">
                        <h6>Home</h6>
                    </a>
                </div>
            </li>
        </ul>
    </nav>