<%- include('./partials/header') %>
<%- include('./partials/navbar') %>
<body>
<main>
  <h1>Sobre o TKPress</h1>
  <p>Projeto experimental para testar funcionalidades de um CMS com autenticação mínima e estrutura modular.</p>
</main>
<div id="toast" class="toast" hidden></div>
</body>
<%- include('./partials/footer') %>